@font-face {
    font-family: 'Blanka';
    src: url('webFonts/Blanka.ttf') ;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  
  }

  :root {
    --colorRosa: #E01094;
    --colorCeleste: #1FD0ED;
  }

  .coloroRosa{
    color: var(--colorRosa)!important;
  }

  ::-webkit-scrollbar{
    width: 0px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background:var(--colorRosa);
  }

  .colorCeleste{
    color: var(--colorCeleste) !important;
  }

  .colorCeleste2{
    color: #1FD0ED;
  }

  .fondoColorCeleste{
    background-color:var(--colorCeleste) !important;
  }

  .fondoColorRosa{
    background-color:var(--colorRosa)!important;
  }

  .bordeCeleste{
    border: 2px solid var(--colorCeleste)!important;
  }

*{
  margin: 0!important;
  padding: 0!important;
  box-sizing: border-box!important;
}


h1{
  font-size: 70px;
  font-family: 'Blanka'!important;
}

body{
  height: 100vh;
}

#carouselExampleControlsNoTouching{
 width: 100vw;
 height: 100vh;
}

nav{
  z-index: 1000;
}
.subtitulo{
  font-size: 36px;
}

.contornoBotonCv{
  margin-top: 39px!important;
  width: 50%;
  border: 1px solid white;
  background-color: transparent;
  padding: 8px 8px 8px 8px!important;
}

.contornoBotonCv button{
  width: 100%;
  padding: 10px 0px!important;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

.cajaBotones{
  position: absolute;
  top:92%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px!important;
  z-index: 10;
}


